body{
   background-color: #020403;
   color: #adadad;
   font-size: 16px;
   font-weight: normal;
   max-width: 1024px;
   margin: 0 auto;
   height: auto;  
   position: relative;

}

h1{
   font-size:  50px  ;
   text-align: center;
   font-weight:bold;
   color: #FFFFFF;
   margin: 10px 0px;
}
.subtitulo{
   text-align: center;
   margin: 10px;
   font-size: 30px ;
   font-weight: bold;
   color: #FFFFFF;
}
.bx   {
   cursor: pointer;
}
.btn-open{
   text-align: end  ;
   padding-right: 30px;
   margin-top :50px;
   margin-bottom: 0px;
}

.navegacion{
   display: flex;
   justify-content: end;
   margin : 20px 20px 50px 0px ;
   gap: 3% ;
   font-size: 12px;
   
}


/********* HEADER *******************************************************/
.informacion {
   display: flex;
   flex-direction: column;
   align-items: center ;
   margin: 20px 12.5% 60px;
}
.informacion div:first-child{
   margin: 20px 12.5% 60px;
}
img[src*=Rectangle]{
   width: 100%
}
.intro{
font-size: 30px;
}
.imagenes{
 display: flex;
 justify-content: space-around;
 max-width: 100%;
}
.imagenes img{
   max-width: 30%;
}
.resumen{
   text-align: center;
   margin: 0px 12.5% 50px;
 }

 .skills{
   margin: 20px 12.5% 60px;
 }
/*********************************************************************/

/********* HABILIDADES *******************************************************/

 .habilidades{
   text-align: center;

 }
 .imagenesH{
   display: grid;
   grid-template-columns: repeat(2,1fr);
 }
 .id{
   display: flex;
   flex-direction: column; 
   align-items: center;

 }
 .id img{
   padding: 10%;
   border: 1px solid #020403;
   border-radius: 100px;
   background-color: #adadad25;
   margin: 10%;
   max-width:100%;
 }
 .imagenesH img{
  justify-self: center;
 }
 .imagenesH div{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 /*********************************************************************/

/********* EXPERIENCIA *******************************************************/

 .experiencia{
    margin: 20px 12.5% 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    justify-content: center; 
    background-color: #020403;
 }
 .experiencia div{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    border-bottom: 1px solid #adadad26 ;
 }
 .letra{
   color: white;
 }

 /*********************************************************************/

/********* PORTAFOLIO *******************************************************/

 .imagenesP img{
   box-sizing: border-box;
    max-width: 25%;
    
 }
 .imagenesP {
    display:flex;
    justify-content: space-evenly;
    margin: 5px 0%;
 }
  /*********************************************************************/

/********* FOOTER *******************************************************/
.contacto{
   text-align: center;
   margin: 30px 12.5% 30px;
 }
 
 .pie img{
   align-self: center;
   justify-self: center;
 }

 .imagenesU{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: 3fr 1fr 1fr;
   grid-gap: 1%;
   justify-items: center;
   margin: 0px 10%;
 }
 .imagenesU img{
   max-width: 100%;
   padding: 10%;
   border: 1px solid white;
   border-radius: 100px;
 }
 .block__ultimo{
   margin: 30px 0px;
   text-align: center;
 }
/*********************************************************************/
 @media (max-width:376px){
   body{
      font-size: 12px;
      font-weight: normal;
      overflow-x: hidden;
   
   }
   h1{
      font-size: 30px;
      font-weight: bold;

   }
   .subtitulo{
      font-size :25px; 
      font-weight:normal; 
   }
   .intro{
      font-size: 18px;
      }

   .imagenesH{
      display: flex;
      flex-direction: column;
   }
   .imagenesP{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0;
   }
   .imagenesP img{
      display: block;
      min-width: 75%;
      margin: 2% 12.5%;
      font-size: 0;
   }
  
   .navegacion{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      justify-content: flex-start;
      gap: 5vh;
      padding-right: 5vw;
      padding-top: 10vh;
      width: 100%;
      margin: 0px;
      position: absolute;
      min-height: 100% ;
      top: 0px;
      left:100vw;
      background-color:#020403;   
      border-left: 5px solid #adadad78;
      border-radius: 5% ;
      transition-property:left;
      transition-duration: 1s;
      
   }
   .contacto{
     text-align:start;
   }
   .portafolio{
      text-align: left;
      margin: 2% 12.5%;
   } 

   /*****************script*********************/
   .navegacion.active{
      position: absolute;
      left: 0px;
   }

   /********************************************/

 }
 @media (min-width:376px){
   .navegacion div:first-child{
       display: none;
   }
   .btn-open{
      display: none;
   }
 }